apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: home-assistant
  name: home-assistant
  namespace: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      containers:
        - image: ghcr.io/home-assistant/home-assistant:latest
          name: home-assistant
          ports:
            - containerPort: 8123
          volumeMounts:
            - mountPath: /config
              name: homeassistant
            - mountPath: /root/.ssh
              name: ssh
          resources:
            limits:
              cpu: 200m
              memory: 1Gi
          securityContext:
            # capabilities:
            #   drop:
            #   - ALL
            # readOnlyRootFilesystem: true
            # runAsNonRoot: true
            runAsUser: 2001
            runAsGroup: 2001
          livenessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
      restartPolicy: Always
      volumes:
        - name: homeassistant
          persistentVolumeClaim:
            claimName: homeassistant
        - name: ssh 
          persistentVolumeClaim:
            claimName: homeassistant-ssh
