apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nvidia-runtimeclass
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://github.com/jakelooker/k8s-config.git
      targetRevision: main
      path: apps/nvidia/config
  syncPolicy:
    automated:
      enabled: true
    syncOptions:
    - CreateNamespace=false
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m